body {
    background: url("https://media.giphy.com/media/DvyxIpxw9cCuQ/giphy.gif") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background: rgb(171, 163, 236)
}

.ratings {
    color: rgb(240, 210, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

label {
    color: rgb(193, 236, 234);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.submitbutton {
    background-color: lavender
}

@media screen and (max-width: 480px) {
    .movImage {
        width: 500px;
        height: 500px;
    }
    body {
        background-color: red;
    }
}

.form-control {
    width: 30%;
}

#add {
    font-size: 20px;
    color: white;
}

#Brand-form {
    text-align: down;
}



input#Brand-input {
    color: blue;
}

input#add-Brand.btn,btn-deafult {
    color: lightseagreen;
}





